node_modules/
dist/
build/
.dart_tool/
.flutter-plugins*
.env
*.db*
*.log
*.jks
*.keystore
key.properties
local.properties
.gradle/
Pods/
google-services.json
GoogleService-Info.plist
coverage/

*.iml
