[Unit]
Description=Backup PostgreSQL for Bezpieczna Polska
After=postgresql.service
Requires=postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/bp-backup-postgres
